@import "./vars/_colors.scss";
@import "./fonts/_fonst.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

textarea {
    resize: none;
}

h3 {
    font-weight: 900;
    font-size: 50px;
    color: $accent;
}

.p__subtitle {
    width: 57%;
    font-weight: 700;
    font-size: 32px;
    color: $dark;
    margin-top: 15px;
}

@import "./blocks/_main-page.scss";
@import "./blocks/_forms.scss";
@import "./blocks/_header.scss";
@import "./blocks/_footer";
@import "./blocks/_main-page.scss";
@import "./blocks/_advantages.scss";
@import "./blocks/_wholeaselers.scss";
@import "./blocks/_department-contacts.scss";
@import "./blocks/_requirements.scss";
@import "./blocks/_transport.scss";
@import "./blocks/_requirements-rental.scss";
@import "./blocks/_rental-contacts.scss";
@import "./blocks/_horeca.scss";
@import "./blocks/_region.scss";
@import "./blocks/_job-ufa.scss";
@import "./blocks/_vacancy.scss";
@import "./blocks/_franchise.scss";
@import "./blocks/_list-stores.scss";
@import "./blocks/_photo-gallery.scss";
@import "./blocks/_retail-video.scss";
@import "./blocks/_contacts-connect.scss";
@import "./blocks/_contacts-info.scss";

@import "./blocks/_media.scss";
