@media(max-width: 1800px) {
    header {
        .menu {
            margin-left: 2%;
            margin-right: 10%;
        }
    }
    .my-slide {
        height: 658px;
        padding-top: 284px;
        &__main {
            h1 {
                font-size: 56px;
            }
            h2 {
                font-size: 38px;
            }
            &_btn {
                width: 250px;
                height: 49px;
                padding-bottom: 1px;
                font-size: 20px;
            }
        }
    }
    .owl-theme .owl-dots {
        bottom: unset;
        top: 580px;
    }
    .wholesalers {
        padding-top: 200px;
    }
}
@media(max-width: 1700px) {
    header {
        padding: 0 80px;
        .logo {
            width: 85px;
            height: 45px;
        }
        nav {
            grid-template-columns: 100px 220px 1fr 180px;
        }
        .menu {
            &__item {
                .link {
                    padding: 0 9px;
                }
            }
        }
    }
    .section-wrapper__block {
        padding-right: 16%;
        p {
            font-size: 34px;
        }
    }
}
@media(max-width: 1600px) {
    .container {
        width: 88%;
    }
    .advantages__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 1500px) {
    header {
        padding: 0 40px;
    }
    .advantages {
        &__wrapper {
            gap: 35px;
        }
        &__item {
            padding: 18px 23px 27px;
            p {
                font-size: 18px;
            }
        }
    }
    h3 {
        font-size: 42px;
    }
}
@media(max-width: 1400px) {
    header {
        padding: 0 30px;
        nav {
            grid-template-columns: 82px 205px 1fr 140px;
        }
        .logo {
            width: 77px;
            height: 41px;
        }
        .cities {
            &__title {
                font-size: 11px;
            }
        }
        .menu {
            margin-left: 1%;
            margin-right: 10%;
            &__item {
                .link {
                    padding: 0 6px;
                    font-size: 14px;
                }
            }
        }
        .feedback {
            &__title {
                margin-left: 7px;
                font-size: 13px;
            }
        }
        .submenu {
            padding: 16px 24px 22px;
            width: 310px;
            &__item {
                a {
                    font-size: 15px;
                }
            }
        }
    }
    .form {
        h3 {
            font-size: 40px;
        }
        .p__subtitle {
            font-size: 28px;
        }
        &__wrapper {
            row-gap: 20px;
        }
        form {
            margin-top: 68px;
            padding: 80px 105px 95px;
            input, select {
                height: 49px;
                font-size: 16px;
            }
            textarea {
                font-size: 15px;
            }
        }
        &__item {
            &_file {
                height: 49px;
                font-size: 16px;
            }
        }
    }
    footer {
        nav {
            grid-template-columns: 120px 1fr;
            column-gap: 18px;
            padding: 43px 0;
        }
        .footer-logo a {
            width: 102px;
            height: 46px;
        }
        .footer-copyright {
            font-size: 10px;
        }
        .footer-submenu__item a {
            font-size: 12px;
        }
    }
    .wholesalers {
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 28px;
        }
    }
    .region p {
        font-size: 27px;
    }
    .open-job__list {
        width: 90%;
    }
    .vacancy {
        &__wrapper {
            width: 80%;
        }
    }
}
@media(max-width: 1200px) {
    header {
        .menu {
            display: none;
        }
        nav {
            display: flex;
        }
        .block-hamburger {
            cursor: pointer;
            position: absolute;
            width: 29px;
            left: 30px;
            display: block;
            span {
                display: block;
                width: 100%;
                height: 3px;
                background: #FFFFFF;
                border-radius: 8px;
                margin-bottom: 6px;
            }
        }
        .logo {
            order: 3;
            display: flex;
            justify-content: center;
            width: 104px;
            height: 48px;
        }
        .cities {
            order: 2;
            margin-left: 40px;
        }
        .feedback {
            order: 4;
        }
    }
    
    .header-menu {
        display: block;
        overflow: hidden;
        height: 100vh;
        position: fixed;
        left: -330px;
        // left: 0 !important;
        z-index: 100;
        width: 330px;
        transition: all 0.55s ease-in-out;
        z-index: 999;
        &__nav {
            position: relative;
            height: 100vh;
            overflow-y: scroll;
            padding: 29% 0 0 23%;
            background: #F0F0F4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__item {
            width: max-content;
            position: relative;
            &-title {
                margin-top: 21px;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                color: $accent;
                a {
                    color: $accent;
                    text-decoration: none;
                }
            }
        }
        &__list {
            &_item {
                margin-top: 10px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                border-radius: 10px;
                width: max-content;
                height: 15px;
                cursor: pointer;
                transition: all .1s ease;
                font-weight: 500;
                a {
                    transition: all .2s ease;
                    text-decoration: none;
                    color: $dark;
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
        &__close {
            position: absolute;
            right: 15px;
            top: 92px;
            cursor: pointer;
        }
    }
    .advantages__wrapper {
        grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    }
    .p__subtitle {
        font-size: 26px;
        width: 70%;
    }
    .section-wrapper__block {
        padding-right: 6%;
        p {
            font-size: 26px;
        }
    }
    .my-slide {
        height: 720px;
        padding-top: 200px;
        &__main {
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 34px;
            }
        }
    }
    .owl-theme .owl-dots {
        bottom: unset;
        top: 520px;
    }
    .form {
        padding-bottom: 100px;
        h3 {
            font-size: 36px;
        }
        .p__subtitle {
            font-size: 24px;
            width: 64%;
        }
        form {
            margin-top: 45px;
            padding: 60px 65px 90px;
            input, select {
                height: 45px;
                font-size: 15px;
            }
            textarea {
                font-size: 15px;
                height: 105px;
            }
            button {
                margin-top: 30px;
                width: 235px;
                height: 40px;
                font-size: 15px;
            }
        }
        &__wrapper {
            row-gap: 17px;
        }
        &__item {
            &_file {
                height: 43px;
                font-size: 15px;
            }
        }
    }
    footer {
        nav {
            grid-template-columns: 150px 1fr;
            column-gap: 30px;
        }
        .footer-menu {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: unset;
            &__item {
                &:nth-child(4) {
                    grid-column: 1 / 2;
                }
                &:last-child {
                    grid-column: 4 / 5;
                    grid-row: 1 / 3;
                }
            }
        }
    }
    .region {
        &__wrapper {
            grid-auto-rows: 280px;
        }
        p {
            width: 67%;
        }
        &__item {
            height: 100%;
        }
    }
    .open-job {
        &__title {
            font-size: 30px;
        }
        &__item {
            &_title {
                font-size: 26px;
            }
            &_subtitle {
                font-size: 22px;
            }
            &_address {
                font-size: 16px;
            }
            &_exp {
                font-size: 16px;
            }
            &_link {
                width: 190px;
                height: 39px;
                font-size: 16px;
            }
        }
    }
    .vacancy {
        padding: 120px 0;
        &__img {
            display: none;
        }
        &__wrapper {
            width: 100%;
        }
        &__cart_link {
            width: 320px;
        }
        &__wrap {
            &_title {
                font-size: 26px;
            }
            ul, ol {
                font-size: 18px;
            }
        }
    }
}
@media(max-width: 992px) {
    .p__subtitle {
        font-size: 22px;
        width: 74%;
    }
    #fp-nav.fp-left {
        display: none;
    }
    .my-slide {
        height: 900px;
        padding-top: 256px;
        &__main {
            h2 {
                width: 81%;
                font-size: 30px;
            }
        }
    }
    .owl-theme .owl-dots {
        top: 555px;
    }
    .form {
        padding-bottom: 90px;
        .p__subtitle {
            font-size: 22px;
            width: 60%;
        }
        form {
            margin-top: 45px;
            padding: 58px 50px 80px;
            border-radius: 15px;
            input, select {
                height: 43px;
                font-size: 14px;
                padding: 0 23px;
                margin-top: 5px;
            }
            textarea {
                font-size: 14px;
                height: 95px;
            }
            button {
                margin-top: 25px;
                width: 220px;
                height: 40px;
                font-size: 14px;
            }
        }
        &__wrapper {
            row-gap: 13px;
            column-gap: 10px;
        }
        &__item {
            &_file {
                height: 41px;
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }
    footer {
        nav {
            grid-template-columns: 120px 1fr;
            column-gap: 20px;
            row-gap: 15px;
        }
        .footer-menu {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            width: 100%;
        }
        .footer-submenu {
            margin-top: 6px;
        }
        .contacts {
            margin-top: 6px;
        }
    }
    .wholesalers {
        padding: 140px 0 160px;
    }
    .wholesalers2 p {
        width: 100%!important;
    }
    .region p {
        width: 100%;
    }
    .open-job__list {
        width: 100%;
    }
    .vacancy {
        &__cart {
            &_title {
                font-size: 24px;
            }
            &_subtitle {
                font-size: 20px;
                margin-top: 10px;
            }
            &_address {
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 768px) {
    .section-wrapper .fp-overflow {
        grid-template-columns: repeat(1, 1fr);
    }
    .section-wrapper__transparent {
        display: none;
    }
    .section-wrapper__block {
        padding-right: 13%;
        padding-left: 16%;
        p {
            font-size: 27px;
        }
    }
    .advantages__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .advantages__item {
        padding: 16px 15px 21px;
        border-radius: 10px;
        p {
            font-size: 14px;
            line-height: 113%;
            margin-top: 21px;
        }
    }
    .form {
        .p__subtitle {
            font-size: 22px;
            width: 80%;
        }
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            &:last-child {
                grid-column: 1 / 3;
            }
        }
    }
    .wholesalers {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    }
    .region {
        padding: 100px 0;
        &__wrapper {
            grid-auto-rows: 260px;
        }
        &__item_title {
            font-size: 34px;
        }
        p {
            font-size: 19px;
        }
    }
    .open-job {
        padding: 80px 0;
        &__title {
            font-size: 26px;
        }
        &__list {
            margin-top: 40px;
        }
        &__item {
            margin-top: 40px;
            padding: 30px;
            &_title {
                font-size: 20px;
            }
            &_subtitle {
                margin-top: 10px;
                font-size: 18px;
            }
            &_address {
                font-size: 14px;
            }
            &_exp {
                font-size: 14px;
                span {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    .vacancy {
        &__wrap {
            margin-top: 40px;
            &_title {
                font-size: 24px;
            }
            ul, ol {
                font-size: 16px;
            }
            &_job {
                font-size: 16px;
                span {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media(max-width: 640px) {
    footer {
        .container {
            width: 100%;
            &:last-child {
                width: 88%;
            }
        }
        nav {
            padding: 0 0 30px;
            row-gap: 5px;
        }
        .footer-logo {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .footer-menu {
            grid-row: 1 / 2;
            margin-top: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__item {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 6%;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background-color: #C4C4C4;
                    height: 2px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
            &__link {
                cursor: pointer;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0;
            }
        }
        .footer__item-links-active {
            width: 100%;
            max-height: 500px;
            transition: max-height 0.35s ease-in;
        }
        .footer-submenu {
            max-height: 0;
            transition: max-height 0.21s cubic-bezier(0, 1, 0.5, 1) 0s;
            overflow: hidden;
            &__item {
                &:last-child {
                    height: 29px;
                }
                a {
                    font-size: 13px;
                }
            }
        }
        .footer__item-links-active ul {
            max-height: 500px;
            transition: max-height 0.35s ease-in;
        }
        .footer__bottom-info {
            flex-direction: column;
            padding: 23px 0;
        }

        .policy {
            margin-bottom: 9px;
            a {
                font-size: 13px;
            }
        }
        .footer__item-dev {
            font-size: 13px;
        }
        .footer-menu__link img {
            display: block;
            // opacity: .6;
        }
    }
}
@media(max-width: 580px) {
    header {
        padding: 0 25px;
        .block-hamburger {
            margin-top: 8px;
        }
        .logo {
            margin-left: 45px;
            width: 77px;
            height: 40px;
        }
        .cities {
            display: none;
        }
    }
    .header-menu {
        width: 280px;
        left: -280px;
    }
    .header-menu-active {
        width: 280px!important;
    }
    .header-menu__nav {
        padding: 29% 0 0 19%;
    }
    h3 {
        font-size: 33px;
    }
    .p__subtitle {
        font-size: 17px;
        width: 95%;
        margin-top: 10px;
    }
    .my-slide {
        height: 100vh;
        &__main {
            padding-left: 14%;
            h2 {
                width: 92%;
                font-size: 28px;
            }
        }
    }
    .owl-theme .owl-dots {
        bottom: unset;
        top: 590px;
        left: 14%;
    }
    .form {
        padding-bottom: 80px;
        h3 {
            font-size: 30px;
        }
        .p__subtitle {
            font-size: 18px;
            width: 86%;
            line-height: 20px;
            margin-top: 5px;
        }
        form {
            margin-top: 25px;
            padding: 65px 37px 80px;
            border-radius: 10px;
            input, select {
                height: 46px;
                font-size: 16px;
                padding: 0 25px;
                margin-top: 5px;
            }
            textarea {
                font-size: 15px;
                height: 90px;
            }
            p {
                margin-top: 15px;
                font-size: 11px;
                max-width: 480px;
            }
        }
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 9px;
        }
        &__item {
            &_file {
                height: 46px;
                font-size: 16px;
                margin-top: 5px;
            }
            &:last-child {
                grid-column: 1 / 2;
            }
        }
    }
}
@media(max-width: 470px) {
    .form {
        padding-bottom: 0;
        border-bottom: 2px solid silver;
        .container {
            width: 100%;
        }
        h3 {
            font-size: 30px;
            padding: 0 6%;
        }
        .p__subtitle {
            font-size: 16px;
            width: 98%;
            line-height: 20px;
            margin-top: 8px;
            padding: 0 6%;
        }
        form {
            margin-top: 40px;
            padding: 60px 25px 85px;
            border-radius: 0;
            input {
                height: 45px;
                font-size: 14px;
                padding: 0 25px;
                margin-top: 5px;
            }
            textarea {
                font-size: 14px;
                height: 90px;
            }
        }
        &__item {
            &_file {
                height: 45px;
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }
    .wholesalers {
        padding: 120px 0;
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }

    }
    .region {
        padding: 80px 0;
        p {
            font-size: 14px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            grid-auto-rows: 190px;
        }
        &__item_title {
            font-size: 25px;
        }
    }
    .open-job {
        &__title {
            font-size: 20px;
        }
        &__item {
            border-radius: 10px;
            padding: 20px;
            &_title {
                font-size: 16px;
            }
            &_subtitle {
                font-size: 12px;
            }
            &_address {
                font-size: 12px;
            }
            &_exp {
                font-size: 12px;
            }
            &_link {
                width: 100%;
                height: 30px;
                font-size: 14px;
            }
        }
    }
    .vacancy {
        padding: 80px 0;
        &__cart {
            &_title {
                font-size: 14px;
            }
            &_link {
                font-size: 12px;
            }
        }
        &__wrap {
            &_title {
                font-size: 20px;
            }
            ul, ol {
                padding-left: 20px;
                font-size: 14px;
            }
            &_job {
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 425px) {
    .advantages__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .advantages__item {
        padding: 20px 42px 26px;
        p {
            font-size: 16px;
            line-height: 118%;
            margin-top: 21px;
        }
    }
    .section-wrapper__block {
        padding-right: 10%;
        padding-left: 13%;
        p {
            font-size: 27px;
        }
    }
    .my-slide {
        &__main {
            padding-left: 12%;
            h2 {
                font-size: 25px;
                width: 93%;
            }
        }
    }
    .owl-theme .owl-dots {
        top: 570px;
    }
}