.transport {
  padding: 60px 0 80px;
  margin-bottom: 120px;
  background: url("../img/bg/transport_bg.jpg") center center/cover no-repeat;
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: $white;
    text-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    width: 586px;
    span {
      font-weight: 700;
    }
  }
  &__list {
    list-style-type: none;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 80px;
    row-gap: 40px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_img {
      width: 98px;
      height: 52px;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    &_title {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-align: center;
      color: $white;
      margin-top: 20px;
    }
  }
}