@font-face {
  font-family: "Gilroy";
  src:
          url("../fonts/Gilroy-Black.ttf") format("ttf"),
          url("../fonts/Gilroy-Black.eot") format("eot"),
          url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src:
          url("../fonts/Gilroy-Bold.ttf") format("ttf"),
          url("../fonts/Gilroy-Bold.eot") format("eot"),
          url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src:
          url("../fonts/Gilroy-Medium.ttf") format("ttf"),
          url("../fonts/Gilroy-Medium.eot") format("eot"),
          url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src:
          url("../fonts/Gilroy-Regular.ttf") format("ttf"),
          url("../fonts/Gilroy-Regular.eot") format("eot"),
          url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Appetite";
  src: url("../fonts/appetite.ttf") format("ttf");
  font-weight: 400;
}